.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    border: 19x solid yellow;
    background: #f7ad0c;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid #585132;
}

#display {
    grid-column: span 4;
    border: 1px solid black;
    text-align: right;
    padding-top: 12px;
    padding-right: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    border-radius: 15px;
    overflow: hidden; 
    overflow-x: auto;
    white-space: nowrap;
}

.column-2 {
    grid-column: span 2;
}

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background: #585132;
    font-size: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:active{
    background: yellowgreen;
}

#id_nota {
    color: rgb(14, 146, 146);
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #0dc1ee;
    font-style: italic;
}

#id_footer {
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(13, 179, 35);
    padding: 5px;
    border-radius: 10px;
}

.barra_superior {
    background-color: #f7ad0c;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #585132;
    border-bottom: 2px solid #585132;
}